.wrap {
    width: 300px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    height: 100%;
    overflow-y: scroll;
    align-items: stretch;
}

.boss {

}

.boss h3 {
    font-size: 16px;
    margin: 10px 0 5px 0;
}

.boss:first-child h3 {
    margin-top: 0px;
}