.wrapper {
    position: relative;
    padding-bottom: 100px;
}

.popup {
    position: fixed;
    width: 300px;
    height: 300px;
    background: #111;
    border: 1px solid #555;
    top: 50px;
    padding: 10px;
}

.popupClose {
    position: absolute;
    top: 10px;
    right: 10px;
}