
.button {
    display: inline-block;
    padding: 0.35em 2.2em;
    border: 0.1em solid #64b168;
    margin: 0;
    border-radius: 0.12em;
    box-sizing:  border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
    transition:  all 0.2s;
    background-color: #005f05;
}

.button:hover {
    cursor: pointer;
    background-color: #009107;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #575757;
    border: 0.1em solid #414141;
    color: rgb(36, 36, 36);
}