.wrap {
    position: relative;
    padding: 5px;
    margin-bottom: -1px;
    display: flex;
    border: 0;
    border-bottom: 1px solid #333;
    background: none transparent;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
}

.wrap:hover {
    background: #444;
}

.wrap:focus {
    outline: none;
}

.wrapReceived {
    background-color: #1d3d1d;
}

.wrapReceivedFree {
    background-color: #1d3d1d;
    opacity: 0.5;
}

.wrapRollRange {
    /* background-color: #3d3c1d; */
    background-color: #333;
}

.wrapInitiate {
    font-style: italic;
}

.score {
    margin-right: 5px;
    padding: 0px 5px;
    width: 35px;
    text-align: right;
}

.name {
    flex: 1 0;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playerButton {
    background: transparent none;
    border: none;
    font: inherit;
    display: inline;
    padding: 0;
    cursor: pointer;
}

.playerButton:focus {
    outline: none;
}

.tooltip {
    position: absolute;
    top: 35px;
    left: 5px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: 3px 5px;
    color: #333;
    z-index: 2;
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
}

@media (max-width: 420px) {
    .wrap {
        width: 50%;
        box-sizing: border-box;
    }
}
