.wrap {
    text-decoration: none;
    color: #a335ee;
    display: flex;
    align-items: center;
}

.wrapLegendary {
    color: #ff8000;
}

.wrapLegendary a {
    color: #ff8000;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap:visited {
    color: #a335ee;
}

.icon--tiny,
.icon--small,
.icon--medium,
.icon--large {
    margin-right: 4px;
    display: inline-block;
    border: 1px solid black;
    flex-shrink: 0;
}

.icon--tiny {
    width: 13px;
    height: 13px;
    background-position: -1px -1px !important;
}

.icon--small {
    width: 18px;
    height: 18px;
}

.icon--medium {
    width: 36px;
    height: 36px;
}

.icon--large {
    width: 56px;
    height: 56px;
}

.icon--restricted {
    border-color: rgb(133, 35, 0);
}

.icon--heroic {
    border-color: rgb(224, 47, 34);
    border-width: 1px;
}

.tooltip {
    position: absolute;
    top: -5px;
    left: 20px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: 3px 5px;
    color: #333;
    z-index: 2;
    font-size: 14px;
    line-height: 1.2;
}